ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080
ConnectionStrings__AcadSign.BackendDb=Host=postgres;Port=5432;Database=acadsign;Username=acadsign_user;Password=CHANGE_ME_DB_PASSWORD
VerificationPortal__BaseUrl=http://10.2.22.210:18080
MinIO__Endpoint=minio:9000
MinIO__AccessKey=CHANGE_ME_MINIO_ACCESS_KEY
MinIO__SecretKey=CHANGE_ME_MINIO_SECRET_KEY
MinIO__BucketName=acadsign-documents
MinIO__UseSSL=false
MinIO__Region=us-east-1
Sis__AttestationExportUrl=http://10.2.22.201/api/v1/admin/attestation/export
Sis__TimeoutSeconds=10
Sis__RetryCount=2
Jwt__Key=CHANGE_ME_WITH_A_LONG_RANDOM_SECRET_OF_AT_LEAST_64_CHARACTERS
Jwt__Issuer=AcadSign.Backend
Jwt__Audience=AcadSign.Desktop
POSTGRES_DB=acadsign
POSTGRES_USER=acadsign_user
POSTGRES_PASSWORD=CHANGE_ME_DB_PASSWORD
MINIO_ROOT_USER=CHANGE_ME_MINIO_ROOT_USER
MINIO_ROOT_PASSWORD=CHANGE_ME_MINIO_ROOT_PASSWORD
